node-red/flow.json
[
  {
    "id": "puerta-inteligente-tab",
    "type": "tab",
    "label": "Puerta Inteligente",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "mqtt-intentos",
    "type": "mqtt in",
    "z": "puerta-inteligente-tab",
    "name": "MQTT Intentos",
    "topic": "puerta-inteligente/intentos",
    "qos": "2",
    "datatype": "utf8",
    "broker": "hivemq-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 100,
    "wires": [
      ["parse-json-intentos"]
    ]
  },
  {
    "id": "mqtt-puerta",
    "type": "mqtt in",
    "z": "puerta-inteligente-tab",
    "name": "MQTT Puerta",
    "topic": "puerta-inteligente/puerta",
    "qos": "2",
    "datatype": "utf8",
    "broker": "hivemq-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 200,
    "wires": [
      ["parse-json-puerta"]
    ]
  },
  {
    "id": "parse-json-intentos",
    "type": "json",
    "z": "puerta-inteligente-tab",
    "name": "Parse JSON Intentos",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 350,
    "y": 100,
    "wires": [
      ["procesar-intento"]
    ]
  },
  {
    "id": "parse-json-puerta",
    "type": "json",
    "z": "puerta-inteligente-tab",
    "name": "Parse JSON Puerta",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 350,
    "y": 200,
    "wires": [
      ["procesar-puerta"]
    ]
  },
  {
    "id": "procesar-intento",
    "type": "function",
    "z": "puerta-inteligente-tab",
    "name": "Agregar Timestamp",
    "func": "msg.payload.createdAt = new Date();\nmsg.payload.tipo = \"intento\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 550,
    "y": 100,
    "wires": [
      ["guardar-intentos-db"]
    ]
  },
  {
    "id": "procesar-puerta",
    "type": "function",
    "z": "puerta-inteligente-tab",
    "name": "Agregar Timestamp",
    "func": "msg.payload.createdAt = new Date();\nmsg.payload.tipo = \"puerta\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 550,
    "y": 200,
    "wires": [
      ["guardar-puerta-db"]
    ]
  },
  {
    "id": "guardar-intentos-db",
    "type": "mongodb4",
    "z": "puerta-inteligente-tab",
    "clientNode": "mongodb-local-client",
    "mode": "collection",
    "collection": "eventos_puerta",
    "operation": "insertOne",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "Guardar Intentos",
    "x": 750,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "guardar-puerta-db",
    "type": "mongodb4",
    "z": "puerta-inteligente-tab",
    "clientNode": "mongodb-local-client",
    "mode": "collection",
    "collection": "eventos_puerta",
    "operation": "insertOne",
    "output": "toArray",
    "maxTimeMS": "0",
    "handleDocId": false,
    "name": "Guardar Puerta",
    "x": 750,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "mongodb-local-client",
    "type": "mongodb4-client",
    "name": "MongoDB Local",
    "db": "puerta_inteligente",
    "url": "mongodb://localhost:27017"
  },
  {
    "id": "hivemq-broker",
    "type": "mqtt-broker",
    "name": "HiveMQ",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "nodered-puerta",
    "autoConnect": true,
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]
